$color: #555;

@mixin page {
  margin-top: 20px;
  padding-top: 40px;
  border-radius: 5px;
  background: #ffffff;
  min-height: 300px;
  padding: 40px 40px 0;
}

.document-page {
  @include page;
  ul {
    list-style: none;
    padding: 20px 0;
    color: $color;
    display: flex;
    border: 1px solid #dddddd;
    li {
      padding: 5px 20px;
      // border: 1px dashed #ddd;
      margin: 0 15px;
      cursor: pointer;
      border: 2px solid;
      border-image: linear-gradient(45deg, #2ef0e4, #f5a52e) 2;
    }
  }
}
