@import '@/assets/scss/color.scss';
@import '@/assets/scss/mixin.scss';

.document-page {
  @include page;
  ul {
    list-style: none;
    padding: 20px 0;
    color: $list;
    display: flex;
    border: 1px solid $border;
    li {
      padding: 5px 20px;
      margin: 0 15px;
      cursor: pointer;
      border: 2px solid;
      border-image: linear-gradient(45deg, $blue, $orange) 2;
    }
  }
  .empty {
    margin-top: 20px;
  }
}
